<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
<body>
<div class="container mt-5">
    <h1 class="h1">Author</h1>
    <form action="#" method="post" th:action="@{/author/add}" th:object="${author}">
        <input th:field="*{id}" type="hidden">
        <div class="form-group">
            <label for="name">Author name</label>
            <input class="form-control" id="name" th:field="*{name}" type="text">
        </div>
        <button>Save</button>
    </form>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>